.gnb {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  width:100%;
  height:60px;
}

.gnb-logo a {
  font-size: 1.5em;
  font-weight: bold;
  color: #004d00;  /* 로고 색상 */
  text-decoration: none;
  margin-left: 30px;
}

.gnb-menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: 670px;
}

.gnb-menu ul li a {
  text-decoration: none;
  color: #555;  /* 기본 메뉴 색상 */
  font-size: 1em;
}

.gnb-menu ul li a:hover {
  color: #000;  /* 메뉴 호버 시 색상 */
}

.gnb-start .start-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 50px;
}

.gnb-start .start-button:hover {
  background-color: #333;  /* 버튼 호버 시 색상 */
}
